@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');

/*------------------------------- Color theme --------------------------------*/
:root {
    --gray-0: #f2f2f2;
    --gray-1: #e6e6e6;
    --gray-2: gainsboro;
    --gray-3: lightgray;
    --gray-4: silver;
    --gray-5: darkgray;
    --gray-6: gray;
    --gray-7: dimgray;
    --gray-8: #3d3a38;
    --gray-9: #040404;
    --signature-color: #1d2133;
    --signature-color-light: #5a6284;
    --accent-color: #332912;
}

/*----------------------------------- BASE -----------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --section-spacer: 7rem;
    --page-side-margin: 2rem;

    font-family: Roboto, sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

@media (pointer: fine) {
    html {
        font-size: 10px;
    }
}

h2 {
    margin-top: 5.6rem;
    font-size: 5.6rem;
    font-family: Roboto Slab, sans-serif;
}

h3 {
    margin-top: 3.5rem;
    font-size: 3.5rem;
    font-family: Roboto Slab, sans-serif;
}

h4 {
    margin-top: 2rem;
    font-size: 2.2rem;
    font-family: Roboto, sans-serif;
}

p,
span {
    margin-top: 2rem;
    font-size: 2rem;
}
