/*----------------------------- Customizations -------------------------------*/
header,
main,
footer {
    min-width: 360px;
}

.title {
    max-width: 68rem;
}

.title p {
    font-size: 2.2rem;
}

/*----------------------------------- HOME -----------------------------------*/
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 1140px) {
    .home-section {
        height: 100vh;
        background-image: url('../images/profile-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
    }

    .rounded-profile-picture {
        display: none;
    }

    .introduction {
        width: 40%;
        margin: 8% auto auto 8%;
    }

    .introduction .title {
        width: 100%;
        color: var(--gray-4);
    }

    .introduction .button {
        color: var(--gray-9);
        background-color: var(--gray-1);
    }
}

/*----------------------------------- ABOUT ----------------------------------*/
.about-section {
    background-color: var(--gray-0);
}

.information {
    margin: 5.6rem auto 0;
    width: 90%;
}

.about-section .rounded-profile-picture {
    display: none;
}

.about-section .button-group {
    margin-top: 3.5rem;
}

@media (min-width: 800px) {
    .information {
        display: grid;
        grid-template-columns: auto 50rem;
        gap: 2rem;
    }
}

@media (min-width: 960px) {
    .information {
        display: grid;
        grid-template-columns: auto 48rem;
        gap: 8rem;
    }
}

@media (min-width: 1140px) {
    .information {
        margin-top: 9rem;
        grid-template-columns: auto 50rem;
    }
}

@media (min-width: 1400px) {
    .information {
        grid-template-columns: auto 65rem;
    }
}

/*------------------------------------ PORTFOLIO -----------------------------*/
.portfolio-section {
    background-color: var(--signature-color);
}

.portfolio-section .title {
    color: var(--gray-1);
}

.portfolio-project {
    margin: 0 auto;
    padding: 2rem;

    min-width: 42rem;
    width: 80vw;
    max-width: 84rem;

    background-color: var(--gray-0);
    border-radius: 3px;
}

.portfolio-project img {
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

@media (min-width: 820px) {
    .portfolio-project {
        min-width: 30rem;
        width: 35vw;
        max-width: 55rem;
    }
}

@media (min-width: 1200px) {
    .portfolio-project {
        display: flex;
        gap: 4rem;

        width: 80vw;
        max-width: 110rem;
        height: 35rem;
    }
}

@media (min-width: 1400px) {
    .portfolio-project {
        display: block;

        width: 25vw;
        max-width: 30vw;
        height: auto;
    }
}
/*--------------------------------- CONTACT ----------------------------------*/
.form {
    width: 90%;
}

/*---------------------------------- FOOTER ----------------------------------*/
.footer {
    display: grid;
    grid-template-areas: 'information' 'links';
    justify-content: center;
    align-content: strech;
    gap: 3.5rem;

    padding: 2rem;
    width: 100%;

    background-color: var(--gray-0);
}

.footer__information {
    grid-area: information;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.footer__note {
    margin-top: 0;
    color: var(--accent-color);
    font-family: 'Footer', sans-serif;
    font-size: 2rem;
    text-decoration: none;
}

.navicon-container {
    grid-area: links;
}

.navicon {
    font-size: 5.6rem;
    color: var(--signature-color);
}

.navicon .fa-circle-arrow-up {
    position: fixed;
    bottom: 2.8rem;
    right: 2rem;

    background-color: var(--gray-0);
    border: 1px solid var(--gray-0);
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.navicon .fa-circle-arrow-up.static-position {
    position: static;
    box-shadow: none;
}

@media (min-width: 540px) {
    .footer {
        grid-template-areas: 'information links';
        justify-content: space-between;
    }

    .footer__information {
        text-align: start;
    }

    .navicon-container {
        justify-content: flex-end;
        align-items: center;
    }
}
