html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 18rem;
    padding-top: 8rem;
}

article {
    position: relative;
    margin: 0rem 0.5rem;
    padding: 0.5rem;
    outline: 2px dashed darkgray;
}

article > h2 {
    position: absolute;
    top: -10rem;
    left: 0;
    color: #3f486f;
    font-family: serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
}

.sc-visualize-page {
    overflow: auto;
    margin: 0.5rem;
    height: calc(100vh / 2);
    outline: 2px dashed orange;
    text-align: justify;
}

.sc-visualize-container {
    outline: 2px dashed green;
}

.sc-visualize-element {
    outline: 1px dashed darkslateblue;
}

.flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
}

table {
    font-size: 2rem;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-spacing: 0;
}

td {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

th {
    padding: 1rem;
    border-bottom: 1px solid darkgray;
    border-right: 1px solid darkgray;
    background-color: #f2f2f2;
}

.color-palette {
    display: flex;
    gap: 3rem;
    margin: 2rem;
}

.color-patch {
    width: 10%;
    height: 100px;
    box-shadow: 0px 4px 16px 0 rgba(0, 0, 0, 0.1),
        0px 6px 32px 0 rgba(0, 0, 0, 0.05);
}

.color-patch:nth-of-type(1) {
    background-color: var(--gray-0);
}
.color-patch:nth-of-type(2) {
    background-color: var(--gray-1);
}
.color-patch:nth-of-type(3) {
    background-color: var(--gray-2);
}
.color-patch:nth-of-type(4) {
    background-color: var(--gray-3);
}
.color-patch:nth-of-type(5) {
    background-color: var(--gray-4);
}
.color-patch:nth-of-type(6) {
    background-color: var(--gray-5);
}
.color-patch:nth-of-type(7) {
    background-color: var(--gray-6);
}
.color-patch:nth-of-type(8) {
    background-color: var(--gray-7);
}
.color-patch:nth-of-type(9) {
    background-color: var(--gray-8);
}
.color-patch:nth-of-type(10) {
    background-color: var(--gray-9);
}
